---
layout: archive
title: "Publications and Presentations"
permalink: /publications/
author_profile: true
---

{% if site.author.googlescholar %}
<div class="wordwrap">
  You can also find my articles on <a href="{{ site.author.googlescholar }}">my Google Scholar profile</a>.
</div>
{% endif %}

{% include base_path %}

<br>

<!-- ========================= -->
<!-- PATENTS SECTION           -->
<!-- ========================= -->
<h2>Patents</h2>
{% assign patents = site.publications | where: "category", "patents" %}
{% if patents.size == 0 %}
<p>No patents added yet.</p>
{% endif %}
{% for post in patents reversed %}
  {% include archive-single.html %}
{% endfor %}

<hr />

<!-- ========================= -->
<!-- JOURNAL PUBLICATIONS      -->
<!-- ========================= -->
<h2>Publications</h2>
{% assign journals = site.publications | where: "category", "manuscripts" %}
{% for post in journals reversed %}
  {% include archive-single.html %}
{% endfor %}

<hr />

<!-- ========================= -->
<!-- PRESENTATIONS SECTION     -->
<!-- ========================= -->
<h2>Presentations</h2>
{% assign presentations = site.publications | where: "category", "presentations" %}
{% for post in presentations reversed %}
  {% include archive-single.html %}
{% endfor %}
